add_header X-XSS-Protection "1; mode=block";
add_header X-Frame-Options "SAMEORIGIN";
add_header X-Content-Type-Options nosniff;

if ($request_method !~ ^(GET|HEAD|POST)$ )
{
       return 405;
}

location ~ /\.(ht|git|svn) {
    deny all;
}

location = /favicon.ico {
    log_not_found off;
    access_log      off;
    expires         max;
    error_log       /dev/null;
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

location ~ ~$ {
    access_log off;
    log_not_found off;
    deny all;
}
